<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron jumbotron-fluid mb-4">
      <div class="container text-center">
        <h1 class="display-4 heading">Text Summarizer</h1>
        <p class="lead">Here is the summary of your text.</p>
      </div>
    </div>

    <div class="container summary-result">
      <div class="row">
        <div class="col-md-6">
          <h4 class="section-title">Original Text</h4>
          <p class="originalTxt">{{ original }}</p>
        </div>
        <div class="col-md-6">
          <h4 class="section-title">Summary</h4>
          <p class="summaryTxt">{{ summary }}</p>
        </div>
      </div>
      <p class="text-center mt-4">Original Length: {{ len_orig }} words</p>
      <p class="text-center">Summary Length: {{ len_summ }} words</p>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
